<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Borrowed Games</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--    These are for the datatables-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">
</head>
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: initial !important;
    }
</style>
<body style="background-color: black">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}" style="font-family: fantasy;font-weight: 400;font-size: x-large;">GameBusters
               </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/dashboard}">Home</a></li>
                <li sec:authorize="hasRole('ROLE_CUSTOMER')"><a th:href="@{/customer/dashboard}">Home</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Games<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ><a th:href="@{/game/add}">Add New Game</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/patients/list}">All Customers</a></li>
                <li class="active" sec:authorize="hasRole('ROLE_CUSTOMER')"><a th:href="@{/customer/borrowedGames}">My Borrowed Games</a></li>
                <li sec:authorize="hasRole('ROLE_CUSTOMER')"><a th:href="@{/customer/purchasedGames}">My Purchased Games</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
    <div class="container">
        <h1 style="text-align: center; font-family: fantasy; font-size: 40px !important;margin-top: -20px;">
            My Games</h1>
        <hr>
        <table class="table table-bordered table-responsive-md" id="table_id">
            <thead>
            <tr>
                <th>Game#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="game : ${allGames}">
                <td th:text="${game.id}"></td>
                <td th:text="${game.name}"></td>
                <td th:text="${game.description}"></td>
                <td style="text-align: center">
                    <img style="border-radius: 50%"
                         th:src="${game.getPhotosImagePath()}"
                         alt="Game Image" width="100px" height="100px"/>
                </td>
                <td>
                    <a th:href="@{/game/release/{id}(id=${game.id})}"
                       class="btn btn-danger btn-lg">Release</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable({
            "dom": "tp",
            "ordering": false,
            "pagingType": "simple",
            "lengthMenu": [3]
        });
    });
</script>
</body>
</html>